@attribute [Authorize]
@page "/accounts"
@using Blazor.Data.Models
@using Blazor.Data.Services
@using Blazor.Data.Services.Base
@using Blazor.Data.Services.Interfaces
@inject IAccountsService _accountsService
@inject IUsersService _userService;
@inject NavigationManager _navigationManager

<h3>Accounts</h3>


@if(accounts != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Account Id</th>
                <th scope="col">Balance</th>
                <th scope="col">Date Created</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @foreach(var account in accounts)
        {
            <tr>
                <td scope="row">@account.Id</td>
                <td>@account.Balance  @account.Currency</td>
                <td>@account.CreatedAt.ToString("dd/MM/yy")</td>
                <td><button class="btn btn-outline-dark" @onclick="@(e => GoToAccountDetails(account.Id))">Details</button></td>
            </tr>
        }
        </tbody>
    </table>
}
@code {


    private List<Account>? accounts;

    protected async override Task OnInitializedAsync()
    {
        var response = await _accountsService.GetAllAccounts();

        Console.WriteLine(response.ToString());
        accounts = (List<Account>)response.Item2!;
        StateHasChanged();
    }
    public void GoToAccountDetails(int accountId)
    {
        _navigationManager.NavigateTo($"/account/{accountId}", true);
    }
}
