@page "/register"
@using Blazor.Data.Models
@using Blazor.Data.Services
@using Blazor.Data.Services.Base
@using Blazor.Data.Services.Interfaces
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Register> Loc
@inject IUsersService _usersService

<div class="row">
    <div class="col-5 shadow-lg p-5 border m-2 border-opacity-25 bg-light bg-gradient">
        <h2 class="text-center mb-3">@Loc["Register"]</h2>
        <EditForm Model="@userRequest" OnSubmit="@SubmitForm">
            <p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Email</span>
                <input type="email" class="form-control" @bind="userRequest.Email" />
            </div>
            </p>
            <p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">@Loc["Password"]</span>
                <input type="password" class="form-control" @bind="userRequest.Password" />
            </div>
            </p>
            <p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">@Loc["Username"]</span>
                <input type="text" class="form-control" @bind="userRequest.UserName" />
            </div>
            </p>
            <p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">@Loc["Full name"]</span>
                <input type="text" class="form-control" @bind="userRequest.FullName" />
            </div>
            </p>
            <button class="btn btn-outline-dark" type="submit">@Loc["Register"]</button>
        </EditForm>
        @if(OperationStatus == "Username cannot be repeated")
        {
            <div class="alert alert-success mt-3" role="alert">
                @OperationStatus
            </div>
        }
        @if(OperationStatus == "User not found")
        {
            <div class="alert alert-success mt-3" role="alert">
                @OperationStatus
            </div>
        }        
        @if(OperationStatus != "User registered" && OperationStatus != "")
        {
            <div class="alert alert-danger mt-3" role="alert">
                @OperationStatus
            </div>
        }
    </div>
</div>

@code {
    private CreateUser userRequest = new();
    private string OperationStatus = "";

    public async Task SubmitForm()
    {
        var response = await _usersService.PostUserAsync(userRequest);
        OperationStatus = response.Item2!;
        Console.WriteLine(OperationStatus);

        StateHasChanged();
    }
}
